.subscribe-button {
    background-color: #bf0606;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.2s, padding 0.2s;
    margin-left: 20px;
    vertical-align: top;
}

.subscribe-button:hover {
    opacity: 0.7;
    padding: 20px 30px;
}

.subscribe-button:active {
    background-color: #3838c8;
}

.join-button {
    background-color: white;
    border-color: #1991e4;
    border-style: solid;
    border-width: 2px;
    padding: 8px 19px;
    color: #1991e4;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s,
    color 0.2s, margin 0.2s, padding 0.2s;
}

.join-button:hover {
    background-color: #1991e4;
    color: white;
    margin-left: -8px;
    padding: 8px 27px;
    margin-right: -8px;
}

.join-button:active {
    opacity: 0.5;
}

.unsubscribe-button {
    background-color: rgb(29,155,240);
    border: none;
    color: white;
    height: 37px;
    width: 120px;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    transition: box-shadow 0.2s,
    color 0.2s,
    background-color 0.2s;
    vertical-align: top;
}

.unsubscribe-button:hover {
    background-color: #2e45d3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}