p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

button {

}

.search {
    display: block;
    width: 500px;
    margin: 0 auto;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.hello{
    font-weight: bold;
    color: #1470aa;
    font-size: 30px;
}

.add-to-cat {
    border: none;
    color: black;
    background-color: #d5b907;
    height: 36px;
    width: 105px;
    border-radius: 18px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.add-to-cat:hover {
    background-color: rgb(241, 210, 18);
}

.add-to-cat:active {
    opacity: 0.5;
}

.buy {
    border: none;
    color : black;
    background-color: darkorange;
    height: 36px;
    width: 85px;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buy:hover {
    background-color: #f6ae43;
}

.buy:active {
    opacity: 0.5;
}

.price {
    color: darkgreen;
    font-weight: bold;

}

.text-motivation {
    margin-bottom: 20px;
}

.bikeimage {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.foodAsk {
    display: inline-block;
}

.foodAskButton {
    background-color: cyan;
    border: none;
    cursor: pointer;
    width: 55px;
    height: 25px;
    border-radius: 12px;
    transition: background-color 0.2s, color 0.2s;
}

.foodAskButton:hover {
    background-color: #008cff;
    color: white;
}

.foodAskButton:active {
    opacity: 0.6;
}

.diveOne {
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: red;
}

.diveTwo {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    display: inline-block;
    background-color: green;
}

.diveThree {
    display: inline-block;
    background-color: #353232;
    color: white;
    width: 300px;
    padding: 5px 15px;

}

.bigText {
    margin-top: 10px;
    text-align: left;
}

.smallText {
    text-align: left;
}

.profileCard {
    border: 1px solid black;
    width: 250px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.profilePic {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.profileName {
    font-weight: bold;
    margin-left: 10px;
}

.mutualFriends {
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.addFriend {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #5f5ff4;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 34px;
}