p {
    font-family: Roboto, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.title {
    font-size: 30px;
    font-weight: bold;
    width: 33%;
    line-height: 45px;
    margin-bottom: 8px;
}

.stats {
    font-size: 13px;
    color: rgb(26,26,26);
}

.names {
    font-size: 13px;
    color: rgb(96,96,96);
    margin-top: 12px;
}

.description {
    font-size: 15px;
    width: 25%;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 40px;
}

.text-to-red {
    margin-bottom: 50px;
    font-size: 18px;
    background-color: rgb(227,65,64);
    color: white;
    text-align: center;
    padding: 17px 0;
}

.go-here {
    color: black;
    cursor: pointer;
    margin-left: 13px;
}

.go-here:hover {
    text-decoration: underline;
}